/*================ setting variables ==================== */
@headerColor: #139E80;
@textColor: #535A5E;
/*====================== styles ======================= */
h2 {
 color: @headerColor;
 font-size:80px;
}
